---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.vue";
---

<Layout title="Astro Book Tracker">
  <main class="h-screen">
    <h1 class="text-4xl font-bold text-center pt-5 pb-3">
      Astro + Vue Book Tracker
    </h1>
    <Form client:load />
  </main>
</Layout>

<style>
  main {
    color: white;
    padding-top: 5rem;
  }
</style>
